*{
    padding: 0;
    margin: 0;
}

.main{
    background-color: #342f57;
    height: 100vh;
    width: 100vw;
}

.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.423);
    .logo{
        display: flex;
        align-items: center;
        margin: 10px 0px 10px 50px;
        img{
            width: 60px;
        }
        .logo-name{
            text-transform: uppercase;
            margin-left: 10px;
            color: #b068d0;
            font-family: $font-navbar;
            font-weight: bolder;
            background-image: linear-gradient(90deg, #b300ff 20%, rgb(0, 153, 255));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 1.5em;
        }
    }
    ul{
        display: flex;
        a{
            text-decoration: none;
            li{
                font-family: $font-navbar;
                list-style: none;
                text-transform: uppercase;
                margin: 0 30px;
                color: whitesmoke;
            }
            &:last-child{
                li{
                    margin-right: 50px                    
                }
            }
            &:hover{
                li{
                    transition: 0.5s;
                    color: #4735bb;
                }
            }
        }
    }
}